   
   <div id="contact" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="userform" >
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="contacttitlepopup">
                        <b>Create Contact</b>
                    </h4>
                    <button type="button" data-dismiss="modal" class="btn-close" >
                    </button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">

                    <div class="contact">
                        <div>
                            <label class="label">Name<sup><b>*</b></sup></label>
                            <input type="text" pInputText  formControlName="name" class="contactDetails" style="width: 35%; height: 20px;" placeholder="Enter Name" required>
                            <mat-slide-toggle formControlName="status" style="margin-left: 2%;">Active</mat-slide-toggle>
                        </div>
                        <div>
                            <label class="label">Phonenumber 1* : </label>
                            <input type="text" pInputText  style="width: 35%; height: 20px;" class="contactDetails" placeholder="Enter Phonenumber 1 " formControlName="phone">
                        </div>
                        <div>
                            <label class="label">Phonenumber 2 </label>
                            <input type="text" pInputText  style="width: 35%; height: 20px;" class="contactDetails" placeholder="Enter Phonenumber 2 " formControlName="phone1">
                        </div>

                        <div>
                            <label class="label">E-mail 1 </label>
                            <input type="text" pInputText  style="width: 35%; height: 20px;" class="contactDetails" placeholder="Enter E-mail 1" formControlName="email">
                        </div>
                        <div>
                            <label class="label">E-mail 2</label>
                            <input type="text" pInputText  style="width: 35%; height: 20px;" class="contactDetails" placeholder="Enter E-mail 2" formControlName="email1">
                        </div>
                        <div style="display: flex; flex-direction: row;  align-items: center">

                            <label class="label">Address 1 <sup><b>*</b></sup></label>
                            <textarea formControlName="address" pInputTextarea  style="height: 75px; resize: horizontal; width: 36%;"></textarea>
                        </div>
                        <div style="display: flex; flex-direction: row; height: 100px; align-items: center">
                            <label class="label">Address 2 </label>
                            <textarea style="height: 75px; resize: horizontal; width: 36%" pInputTextarea formControlName="address1">
                            </textarea>
                        </div>

                        <div>
                            <label class="label">Relation </label>
                            <input list="createrelation" [(ngModel)]="Relation" formControlName="relcontact">
                            <datalist id="createrelation" >
                                <option *ngFor="let rel of relationCon" values={{rel.contact_name}}>{{rel.Contact_id}} - {{rel.contact_phone}}</option>
                              </datalist>
                        </div>


                        <div style="display: flex;">
                            <label class="label">Relation Tags</label>
                            <select [(ngModel)]="RelationTags" pInputText style="height: 44px; margin-left: 6%;" formControlName="reltag">
                                <option>---select---</option>
                                <option *ngFor="let relt of rtag" [value]="relt.tag_name">{{ relt.tag_name }}</option>
                            </select>
                            <div >
                            <input type="text" pInputText  #test style="border: 1px solid transparent; width: 75%; height: 44px;" value="{{Relation}}'s-{{RelationTags}}" readonly formControlName="relname">
                            </div>
                        </div>
                        <div>
                            <label class="label">Folder : </label>
                            <select formControlName="folder" style="height: 45px; margin-left: 6%;margin-top: 6px;" pInputText>
                                <option>--select--</option>
                                <option *ngFor="let folder of foldername" [value]="folder.tag_name">{{ folder.tag_name }}</option>
                            </select>
                        </div>

                        <div id="contacttags" style="display: flex; flex-direction: column;">
                            <div style="display: flex;">
                                <label style="display: inline-block; width: 200px;" class="label"> Tags : <sup><b>*</b></sup></label>
                                <mat-chip-grid #taglist formControlName="tags">
                                    <div style="display: flex; flex-direction: column; height: auto; justify-content: center; align-items: center;">
                                    <div style="display: flex;">
                                        <input placeholder="Add Tags" pInputText [matChipInputFor]="taglist"  [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)" style= "border: 1px solid black;margin-left: -54px; height: 20px;" />
                                        <button type="button" id="newTags" class="btn btn-primary"
                                                data-toggle="modal" data-target="#createtagspopup">New</button>
                                    </div><br>
                                    <div style="display: flex; width: 80%;flex-wrap: wrap;">
                                        <mat-chip-row *ngFor="let tag of Tags; let i = index " [removable]="removable" (removed)="remove(tag)" >
                                                {{ tag }}
                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                        </mat-chip-row>
                                    </div>
                                </div>
                                </mat-chip-grid>
                            </div>
                        </div>
                </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" (click)="usersubmit()" class="btn " id="contactsavebutton" (click)="createcontactsavepopup()">
                        <i class="fa-regular fa-floppy-disk"></i>
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>