.label{
    display: inline-block;
    width: 40%;
    height: 40px;
}
#contacttitlepopup{
    margin-left: 35%;
    font-size: 20px;
}
#contactsavebutton{
    background-color: #A8DF8E;
    margin-right: 43%;
}
#tagchips{
    display: flex;
    width: 450px;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
#newTags{
    height: 70%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7%;
    font-size: 100%;
    margin-top: 0px;
}
