.label{
    display: inline-block;
    width: 200px;
    height: 40px;
}
#contacttitlepopup{
    margin-left: 35%;
    font-size: 20px;
}
#contactsavebutton{
    background-color: #A8DF8E;
    margin-right: 43%;
}
#tagchips{
    display: flex;
    width: 450px;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
#newTags{
    height: 25px;
    width: 27%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin-left: 42px;
    font-size: 16px;
    margin-top: 0px;
}
